.category-list {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &_eye {
    padding: 0.25rem;

    border-radius: 8px;

    display: flex;
    align-items: center;

    &:hover {
      background-color: #d2d2d2;
    }

    & svg {
      width: 1.5rem;
      height: 1.5rem;
      transform: none !important;
    }
  }

  &_collapse {
    padding: 0.25rem;
    border-radius: 8px;
    cursor: pointer;

    margin-bottom: 0.5rem;

    display: inline-flex;
    align-items: center;

    & svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: #e8e5e5;
    }
  }

  &_box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    gap: 1rem;

    cursor: pointer;

    transition: background 500ms;

    min-height: 50px;

    border-bottom: 1px solid #e8e5e5;

    /* It is incorrect to do this, in the future need to be replaced */
    & > div {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    & span {
      max-width: 300px;
    }

    & svg {
      max-width: 1.5rem;
      max-height: 1.5rem;

      transition: transform 200ms;
    }

    &:hover {
      background: #e8e5e5;
    }

    &--open {
      & svg {
        transform: rotateX(180deg);
      }
    }
  }

  &_sub {
    margin-left: 0.5rem;

    transition: max-height 500ms;
    max-height: 0vh;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &--open {
      max-height: 100vh;
    }
  }
}
