.draggable {
  &-field {
    position: relative;

    background-color: white;
    touch-action: none;

    width: 100%;
    min-height: 100vh;

    overflow: hidden;
  }

  &-item {
    position: absolute;

    translate: -50% -50%;

    cursor: grab;

    transition: all 500ms;

    padding: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      transition: none;
      cursor: grabbing;
      user-select: none;
    }
  }
}
