$icon-size: 2rem;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  cursor: pointer;

  &--icon {
    min-width: $icon-size;
    min-height: $icon-size;

    max-width: $icon-size;
    max-height: $icon-size;

    border-radius: 50%;

    box-shadow: 1px 1px 5px #00000040;
  }

  &--success {
    background-color: #11b827;
  }

  &--greyed {
    background-color: #b1b1b1;
  }

  &--info {
    background-color: #2eb3ff;
  }

  &--error {
    background-color: #fe6464;
  }

  & svg {
    width: 1.125rem;
  }
}
